[submodule "moonlight-common/moonlight-common-c"]
	path = moonlight-common/moonlight-common-c
	url = https://github.com/lichiheng1998/moonlight-common-c.git
	branch = pyrowave-qt
[submodule "X1Kit"]
	path = X1Kit
	url = https://github.com/cgutman/X1Kit.git
